/* this is a comment in CSS */

/*
https://www.educative.io/answers/class-and-id-selectors-in-css
*/

/*
    Selectors: class(.) and id(#)
    - classes are used throughout the code, id's are unqiue and only used onceish

*/

html {
    background-image: url("https://i.pinimg.com/originals/09/01/e5/0901e529a555493ba5b58ba6579db104.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: 'Fjalla One';
    src: url(https://fonts.google.com/specimen/Fjalla+One#standard-styles);
}

.navbar{
    display: grid; /*want it to be grid pattern (side by side)*/
    grid-template-columns: auto auto auto auto auto auto; /*three autos bc we want 2 columns*/
    font-size: 20pt;
    border-bottom: 2px solid white;
    position: static;
    background-color: transparent;
    color: white;
    text-align: center;
}

.general-photo {
    max-width: 100%;
    height: auto;
    width: auto;
}

.icons{
    text-align: center;
    width: 50px;
}

.text-boxes{
    padding: 30px;
    border: 1px solid white;
    margin: 10px;
    line-height: 30px;
    background-color: black;
}

.grid-2{
    display: grid; /*want it to be grid pattern (side by side)*/
    grid-template-columns: minmax(50px, 500px) 50px minmax(50px, 5000px); /*two autos bc we want 2 columns*/
    padding: 50px;
}

.grid-3 {
    display: grid;
    grid-template-columns: minmax(50px, 5000px) 100px minmax(50px, 5000px); /*two autos bc we want 2 columns*/
    padding: 40px;
}

.college-logos{
    display: grid;
    grid-template-columns: auto auto auto;
}

.box-spacing{
    padding-right: 20px; /*adding the space between the boxes*/
}

.intro{
    text-align: center;
    text-decoration: underline;
    color: white;
    padding-top: 4%;
}

.sub-intro {
    text-align: center;
    color: white;
}

.headings{
    padding-left: 40px;
    padding-top: 35%;
    text-decoration: underline;
}

.endorsement-horiz {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
    border: 1px solid white;
    background-color: black;
}

.content-padding{
    padding-left: 50px;
    padding-right: 50px;
}

.nav{
    font: bold;
    scroll-behavior: smooth;
    font-size: 20px;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

.skills-boxes {
    background-color: black;
    text-align: center;
    font-size: 20pt;
    border: 1px solid white;
    padding: 20px;
}

.subtext{
    padding-top: 7px;
    font-size: 10pt;
}

.endorsement-name{
    font-size: 20pt;
    padding-bottom: 10px;
}

.list-entries{
    font-size: 15pt;
    text-align: left;
    text-decoration: none;
}

.experience-grid{
   display: grid;
   grid-template-columns: auto auto auto;
   padding: 30px;
   border: 1px solid white;
   text-align: center;
   background-color: black;
}

.grid3 {
    display: grid;
    grid-template-columns: minmax(50px, 5000px) 100px minmax(50px, 5000px);
    padding: 40px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}


div.gallery{
    margin: 5px;
    border: 1px solid white;
    float: left;
    width: 180px;
}

div.gallery:hover{
    border: 1px solid white;
}

.gridvert{
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    vertical-align: middle;
}

.photocenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}